.page-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  overflow: hidden;

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    & > * {
      max-width: 200px;
    }

    :deep(.el-button + .el-button) {
      margin-left: 0;
    }
  }

  .table {
    flex: 1;
    overflow: auto;
  }

  .el-pagination {
    justify-content: center;
  }
}
