.layout-main {
  height: 100vh;

  .el-header {
    border-bottom: solid 1px var(--el-menu-border-color);
  }

  .el-container {
    height: 100%;
  }

  .el-aside {
    border-right: solid 1px var(--el-menu-border-color);
  }

  .el-menu {
    border-right: none;
  }
}
