.layout-main {
  height: 100vh;

  .el-header {
    border-bottom: solid 1px var(--el-menu-border-color);
    width: 100%;
  }

  & > .el-container {
    height: 100%;
    align-items: center;
  }

  .main-container {
    width: 100%;
    /**
    * FEATURE set content max-width
    * TODO use variables
    */
    max-width: 1360px;
  }

  .el-aside {
    border-right: solid 1px var(--el-menu-border-color);

    .collapse-btn {
      opacity: 0;
      position: fixed;
      left: 48px;
      top: 68px;
      z-index: 2;
      &:hover {
        opacity: 1;
      }
      &.expand {
        /**
        * TODO use variables
        */
        left: 224px;
      }
    }
  }

  .el-menu {
    border-right: none;
  }
}
