.page-dashboard {
  section:not(:first-of-type) {
    margin-top: 40px;
  }

  h2 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: normal;
    color: var(--el-text-color-regular);
  }

  .styled {
    .el-statistic {
      border-radius: 4px;
      padding: 8px;
      background-color: var(--el-fill-color-lighter);
    }

    :deep(.el-statistic__head) {
      text-align: right;
      font-size: 1.2em;
      color: var(--el-text-color-placeholder);
    }
  }

  .progress {
    h3 {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
      color: var(--el-text-color-primary);
    }

    .el-progress {
      margin-top: 12px;
    }

    .el-row {
      margin-top: 16px;
    }
  }

  .tables {
    h3 {
      margin: 0;
      padding-left: 12px;
      font-size: 1em;
      font-weight: normal;
      color: var(--el-text-color-secondary);
    }

    .el-table {
      margin-top: 12px;
    }

    :deep(a) {
      color: var(--el-table-text-color);
    }
  }
}
