.statistic-chart {
  display: flex;
  gap: 16px;
  border-radius: 4px;
  padding: 16px;
  background-color: var(--el-fill-color-lighter);

  .content {
    flex: 1;
  }

  .title {
    margin: 0;
    font-size: 14px;
    color: var(--el-text-color-placeholder);
  }

  .value {
    margin-top: 4px;
    font-size: 30px;
    color: var(--el-text-color-primary);
  }

  .info {
    display: block;
    margin-top: 16px;
    font-size: 12px;
    color: var(--el-text-color-placeholder);
  }

  .vue-apexcharts {
    flex: 1;
  }
}
